{% comment %}
*
*   This include gets injected into the layout just before the
*   end of the HTML document.
*
{% endcomment %}

<a title="Web Statistics" href="http://clicky.com/100881450"><img alt="Web Statistics" src="//static.getclicky.com/media/links/badge.gif" border="0" /></a>
<script src="//static.getclicky.com/js" type="text/javascript"></script>
<script type="text/javascript">try{ clicky.init(100881450); }catch(e){}</script>
<noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/100881450ns.gif" /></p></noscript>
